./config.h.in
./ltmain.sh
./timerfd.pc
./libtimerfd-*.tar.bz2
./stamp-h1
./config.guess
./aclocal.m4
./config.status
./install-sh
./config.h
./libtool
./configure
./config.log
./autom4te.cache
./test-driver
./config.sub
./cscope.out
./depcomp
./missing
./tests/test_timerfd_settime
./tests/test_timerfd_create
Makefile
Makefile.in
.deps
.libs
*.la
*.lo
*.log
*.o
*.trs

